﻿<h1 class="visually-hidden">Heroes examples</h1>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/Artikulo 3.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Artikulo</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Artikulo is an application that simplifies your daily dose of reading by delivering a set of articles straight to your device. What sets Artikulo apart is its dedication to your interests. The app categorizes articles based on your preferences, ensuring that you receive content that truly resonates with you.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
    </div>
</div>