@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main class="px-3">
        <br><br><br><br><br><br><br><br><br>
        <img src="/images/Artikulo 3.png">
        <br>
        <h1>Welcome to Artikulo.</h1>
        <p class="lead">Your Personalized Article Browsing Website.</p>
        <p class="lead">
            <a asp-area="" asp-controller="Account" asp-action="SignUp" class="btn btn-lg btn-light fw-bold border-black bg-white">Get Started</a>
        </p>
    </main>

</div>

