@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>At Artikulo, accessible at Artikulo.com, we prioritize the privacy of our visitors. This Privacy Policy outlines the types of information collected and recorded by Artikulo and how we use it.</p>


<p>If you have questions or need further information about our Privacy Policy, feel free to contact us via email at Email@Artikulo.com.</p>

This privacy policy applies exclusively to our online activities and pertains to information shared and/or collected on Artikulo. It does not extend to information collected offline or through channels other than this website.

Consent
By using our website, you consent to our Privacy Policy and agree to its terms.

Information We Collect
The personal information we request and the reasons for providing it will be transparent when we ask for it. If you contact us directly, we may receive additional information such as your name, email address, phone number, message contents, and any other information you choose to provide.

When registering for an account, we may ask for contact information, including name, company name, address, email address, and telephone number.

How We Use Your Information
We use collected information to:

Provide, operate, and maintain our website
Improve, personalize, and expand our website
Understand and analyze how you use our website
Develop new products, services, features, and functionality
Communicate with you for customer service, updates, and marketing purposes
Send you emails
Find and prevent fraud
Log Files
Artikulo follows a standard procedure of using log files that include IP addresses, browser type, ISP, date and time stamp, referring/exit pages, and clicks. This information is not personally identifiable and is used for analyzing trends, administering the site, tracking user movement, and gathering demographic information.

Cookies and Web Beacons
Like any other website, Artikulo uses cookies to store information such as visitors' preferences and the pages they accessed. This information is used to optimize the user experience.

Third-Party Advertisers
Third-party ad servers or networks may use technologies like cookies, JavaScript, or Web Beacons. Artikulo has no access to or control over these cookies used by third-party advertisers.

Third-Party Privacy Policies
Artikulo's Privacy Policy does not apply to other advertisers or websites. Refer to the respective Privacy Policies of these third-party ad servers for detailed information.

CCPA Privacy Policy (Do Not Sell My Personal Information)
California consumers have the right to request the disclosure and deletion of collected personal data. To exercise these rights, please contact us.

GDPR Privacy Policy (Data Protection Rights)
Users have the right to access, rectification, erasure, restrict processing, object to processing, and data portability. To exercise these rights, please contact us.

Children's Information
We prioritize child protection online and do not knowingly collect Personal Identifiable Information from children under 13. If your child has provided such information, please contact us, and we will promptly remove it from our records.

Last updated: [Date]