@{
    ViewData["Title"] = "Unauthorized";
}

<div class="text-center">
    <main class="px-3">
        <br><br><br><br><br><br><br><br><br>
        <img src="/images/unauthorized_logo.png">
        <br>
        <h1>Unauthorized.</h1>
        <p class="lead">Go Back.</p>
        <p class="lead">
            <a asp-area="" asp-controller="Home" asp-action="Index"class="btn btn-lg btn-light fw-bold border-black bg-white">Home</a>
        </p>
    </main>

</div>

